.sorting-title {
  font-size: 26px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  gap: 2px;
}
